body {
  margin: 0;
  width: 100vw;
  background-color: #404f4f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  user-select: none;
}
html {
  overflow-x: hidden;
}
.icon {
  width: 3.5rem !important;
}
.icon-container {
  position: fixed;
  left: 0.5rem;
  top: 0.5rem;
  z-index: 6;
}
.topSkillContainer {
  list-style-type: none;
  text-align: "center";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 0;
}
.topSkillItem {
  padding: 0;
  margin-left: 0;
  font-size: 1.5rem;
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 400;
  color: #faedcd;
  line-height: 2.5rem;
}
.topProjectItem {
  color: "white";
  font-weight: "900";
  display: flex;
  flex-direction: column;
  margin: "2rem";
  height: "30vh";
  padding: "1rem";
}
.topProjectText {
  text-align: center;
  font-size: "1rem";
  color: black;
}
.image {
  text-align: center;
  font-size: 3rem;
  color: black;
}

.container-home {
  margin: 0px;
  padding: 0px;
}
.video iframe {
  width: auto;
  height: 200px;
  /* border-radius: 25px; */
  border-style: none;
  opacity: 0.7;
}
.video {
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  font-size: large;
  text-align: center;
  background-color: grey;
  height: 100vh;
  padding: 20%;
  opacity: 0;
}
.navbar {
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0px;
  background: rgba(155, 109, 109, 0);
  margin-top: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 5;
  /* box-shadow: 4px 0px 13px 2px rgb(0 0 0 / 25%); */
}
li {
  font-size: 1.5rem;
}
.animate-navbar {
  animation: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  background: #2b3838;
  box-shadow: rgb(0 0 0 / 25%);
}

@keyframes fadeIn {
  from {
    background: #3c4e4e00;
  }
  to {
    background: #3c4e4e;
  }
}
/*when its small */
@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
  .footer {
    height: 2rem !important;
  }
  .footer-links {
    font-size: 1.5rem !important;
  }
  .zoom-control {
    display: none !important;
  }
  .home-title {
    font-size: 1.8rem !important;
  }
  .subtitle {
    font-size: 3rem !important;
  }
  .home-prefession {
    font-size: 1.3rem !important;
  }
  .active {
    color: #e3dfdc !important;
    font-weight: 500;
    transition: 1s ease-in-out;
    text-decoration: none;
  }
}
/*when its large */
@media screen and (min-width: 800px) {
  .menuIcon {
    opacity: 0;
  }

  .menuContainer {
    opacity: 0;
    display: none !important;
  }
  .menu-links {
    opacity: 0;
  }
  .titleContainer {
    display: none !important;
  }
  .projectsContainer {
    padding-top: 7vh !important;
  }
  .hobbiesImg {
    height: 60vh !important;
  }
  .zoom-control {
    display: block;
  }
}
.menuIcon {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  width: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
  color: #faedcd !important;
}
.line {
  width: 20vw;
  border-color: #d4a373;
  height: 0.5px;
  background: #cf9e71;
}
.menuIcon:hover {
  transform: scale(1.5);
  transition: 0.9s;
}
.menuContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
  z-index: 6;
}
.menu {
  position: absolute;
}
.menu-fadeOut {
  background-color: #d4a373;
  width: 0vw;
  height: 0rem;
  border-radius: 2%;
  animation-name: animateOpacityOut;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;
  position: absolute;
  transition: 1s;
  box-shadow: 4px 0px 13px 2px rgb(0 0 0 / 25%);
}
.menu-fadeIn {
  background-color: #d4a373;
  display: flex;
  animation-fill-mode: forwards;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 60vh;
  border: thick;
  border-style: double;
  border-color: black;
  border-radius: 0.5rem;
  animation-name: animateOpacityIn;
  animation-duration: 1s;
  position: fixed;
  transition: 1s;
  z-index: 2;
  box-shadow: 4px 0px 13px 12px rgb(0 0 0 / 25%);
}
.overlay {
  background-color: gray !important;
}

@keyframes animateOpacityOut {
  from {
    height: 60vh;
    width: 80vw;
    opacity: 1;
  }
  to {
    height: 0vh;
    width: 0vw;
    opacity: 0;
  }
}
@keyframes animateOpacityIn {
  from {
    height: 0vh;
    width: 0vw;
    opacity: 0;
  }
  to {
    height: 60vh;
    width: 80vw;
    opacity: 1;
  }
}
.links {
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: space-evenly;
  color: #faedcd;
  font-family: "Merienda", cursive;
}
.animate-links {
  animation: animateLinks 1s;
  animation-fill-mode: forwards;
  color: #d4a373;
}
@keyframes animateLinks {
  from {
    color: #faedcd;
  }
  to {
    color: #d4a373;
  }
}
.links:hover {
  color: rgb(148, 135, 51);
  transition: 0.5s ease-in;
  text-decoration: none;
}

.menu-links {
  font-weight: 400;
  font-size: medium;
  color: #6a530b;
  padding: 3%;
  font-family: "Ibarra Real Nova";
  text-decoration: none;
  list-style-type: none; /*removes bullet points*/
  font-family: "Merienda", cursive;
}
.menu-links:hover {
  color: #e3dfdc;

  transition: 1s ease-out;
}
.active {
  color: #d4a373;
  font-weight: 500;
  transition: 1s ease-in-out;
  text-decoration: none;
}
.overlay {
  background-color: #5c656d !important;
  width: 100vw;
  height: 100vh;
  position: relative;
}

h4 {
  padding: 4%;
  font-family: "Times New Roman", Times, serif;
  /* text-align: center; */
}
li {
  /* display: inline-block; */
  margin-left: 10%;
  /* text-align: center; */
}

.App {
  text-align: center;
}
.div {
  height: 1500px;
}
.preloader {
  position: relative;
  top: 45vh;
  left: 45vw;
  width: 10rem;
  height: 10rem;
}

.my-image {
  position: absolute;
  margin: 0;
  top: 0;
  height: 100vh;
  display: flex;

  width: 100vw;
  z-index: -1;
}
.scroll-down {
  position: absolute;
  color: #faedcd;
  font-size: 3rem;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2rem;
  left: 50vw;
  animation: scrollDown 2s ease-in-out infinite;
}
@keyframes scrollDown {
  from {
    /* opacity: 0; */
    transform: scaleY(1);
  }
  to {
    /* opacity: 1; */
    transform: scaleY(1.5);
  }
}
.homepages-container {
  overflow: hidden !important;
}
.home-title {
  position: relative;
  font-family: "Hubballi";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: #faedcd;
  top: 0rem;
  text-align: center;
  font-size: 3rem;
  padding-top: 20vh;
}
.subpage-title {
  position: relative;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: #d4a373;
  top: 0rem;
  text-align: center;
  font-size: 2rem;
  padding-top: 15vh;
}
.hello {
  position: relative;
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  color: #faedcd;
  top: 4rem;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 20vh;
}
.subtitle {
  position: relative;
  top: 1rem;
  text-align: center;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;

  font-style: normal;
  font-weight: 400;

  margin-bottom: 2rem;
  margin-top: 3.5rem;
  color: #faedcd;
}
.home-prefession {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  line-height: 0.1rem;
  color: #faedcd;
}

.discription {
  display: flex;
  font-size: 1.5rem;
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 400;
  color: #faedcd;
  justify-content: center;
  margin: 1rem;
  padding: 0px;
  padding-top: 4rem;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}
.project-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  align-items: center;
}
.pageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-discription {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1.5rem;

  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  color: #d4a373;
  text-align: center;
  padding: 20vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.home-discription:last-child {
  padding-bottom: 15vh;
}
.arrows-show {
  display: block;
  animation: arrowFadeIn 1s;
}
@keyframes arrowFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.arrows-hide {
  display: block;
  opacity: 0;
  animation: arrowFadeOut 1s;
}
@keyframes arrowFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.titleContainer {
  display: block;
  position: relative;
  padding-top: 45px;
}

.pageTitle {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding-top: 0%;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  color: #d4a373;
}

.hobbiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.hobbiesTitle {
  font-size: 3vmax;
  font-weight: 300;
  color: #faedcd;
}
.image-carousal {
  padding-bottom: 120px;
}
.hobbiesImg {
  /* border-radius: 2rem; */
  width: auto;
  height: 70vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.animateLeft {
  animation: slideLeft;
  animation-duration: 1.5s;
}
@keyframes slideLeft {
  from {
    transform: translateX(1000px) scale(0.5) rotate(-90deg);
  }
  to {
    transform: translateX(0px) scale(1) rotate(0deg);
  }
}
.animateRight {
  animation: slideRight;
  animation-duration: 1.5s;
}
@keyframes slideRight {
  from {
    transform: translateX(-1000px) scale(0.5) rotate(90deg);
  }
  to {
    transform: translateX(0px) scale(1) rotate(0deg);
  }
}
.projectsContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.projectText {
  list-style-type: none;
  font-weight: 300;
  font-size: 3vh;
  padding-bottom: 10px;
}
.skillText {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1%;
  padding-right: 1rem;
}

.skillItem {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: #faedcd;
  border-radius: 1.2rem;
  padding: 0.5px;
  padding-left: 15px;
  min-height: 3rem;
  max-height: 3rem;
  padding-right: 15px;
  align-items: center;
  min-width: 10rem;
  max-width: 10rem;
  margin: 0.8rem;
  justify-content: space-between;
}
.skillItem:hover {
  transition: 1s ease-in-out;
  transform: scale(1.1);
  background: #e9edc9;
  color: black;
}

.skillsText {
  list-style-type: none;
  font-weight: 300;
  font-size: 5vh;
  padding-bottom: 10px;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2b3838;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4a373;
  border-radius: 10px;
  border: 0.09em solid #2b3838;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcc6b0;
}
.scroll {
  display: none !important;
  text-align: center;
  display: block;
  font-size: 3vh;
  color: #177eaa;
  padding-bottom: 5vh;
}
/* .enlarge {
  animation: enlarge;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
} */
@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
.hide {
  display: none !important;
}
.text {
  font-weight: 300;
  font-size: 17px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.footer {
  position: fixed;
  top: 1.2rem;
  right: 1.7rem;
  z-index: 5;
}
.footer-links {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.footer-links:hover {
  color: #fffcf5;
}
a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  color: #faedcd;
}
.left {
  padding-left: 7vw;
  position: fixed;
  top: 50vh;
  cursor: pointer;
  font-size: 6vmax;
  z-index: 5;
  color: #d4a373;
}
.right {
  padding-left: 86vw;
  position: fixed;
  top: 50vh;
  cursor: pointer;
  font-size: 6vmax;
  z-index: 0;
  color: #d4a373;
}

.btns-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  position: relative;
  z-index: 3;
  padding-left: 6vw;
  padding-right: 6vw;
}
.category-btn {
  border: none;
  background: #d4a373;
  font-size: 0.8rem;
  text-transform: capitalize;
  margin: 0.3rem 1rem;
  border-radius: 0rem;
  padding: 0.3rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 8px -3px rgb(0 0 0 / 25%);
  min-width: 8rem;
  max-width: 8rem;
}
.category-btn:hover {
  background: #916f4d;
  font-weight: 200;

  color: #faedcd;
  transform: scale(1.09);
  transition: 1s;
}

.section-center {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: center;
  padding-bottom: 99px;
  position: relative;
  z-index: 3;
  padding-left: 9vw;
  padding-right: 9vw;
  gap: 2rem 2rem;
}
.section-center-skills {
  display: flex;
  padding-bottom: 99px;
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20vw;
  padding-right: 20vw;
}
.projectItem {
  background-color: #faedcd;
  color: black;
  /* border-radius: 20px; */
  padding: 5%;
  width: 200px;
  min-width: fit-content;
  /* -webkit-box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 8px 8px 8px -3px rgb(0 0 0 / 25%); */
  justify-content: center;
}

.projectItem:hover {
  animation: changeColor 1s;
  animation-fill-mode: forwards;
  transform: scale(1.1);
  transition: 1s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 16px 19px 1px rgb(0 0 0 / 25%);
}
@keyframes changeColor {
  from {
    background-color: #faedcd;
  }
  to {
    background-color: #e9edc9;
  }
}
.descText {
  text-align: justify;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  color: #faedcd;
  font-size: 1.5rem;
}
.read-more,
.read-less {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  color: #d4a373;
  font-size: 1.5rem;
}
.read-more:hover,
.read-less:hover {
  cursor: pointer;
  color: rgb(12, 60, 52);
  transition: all 0.3s linear;
}

.categoryTitle {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: small;

  font-size: 1.5rem;
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 400;
  color: #faedcd;
}
.projectTitle {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  color: #d4a373;
  font-size: 2rem;
}
.projectsContainer {
  text-align: center;
}
.projectImg {
  color: #2d6177;
  font-size: 80px;
}
.skillIcon {
  height: 2rem;
  width: auto;
}

.resume {
  text-align: center;
}
.resume-header {
  padding-top: 1.5rem;
  background-color: #404f4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-control {
  display: flex;
  bottom: 11vh;
  width: 100vw;
  position: fixed;
  height: 8vh;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}
.page-control:hover {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.page-loc {
  position: relative;
  color: black;
  background-color: #d4a373;
  /* border-radius: 5px; */
  width: fit-content;
  padding: 1%;
  z-index: -1;
  height: 2vh;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-control {
  display: flex;
  top: 4rem;
  width: 100vw;
  position: fixed;
  height: 5vh;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
}
.zoom-control:hover {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.zoom-in,
.zoom-out {
  font-size: 2rem;
  position: relative;
  background-color: #d4a373;
  border: none;
  text-transform: capitalize;
  margin: 0rem 0.5vw;
  letter-spacing: 1px;
  border-radius: 1rem;
  color: black;
  min-width: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 8px -3px rgb(0 0 0 / 25%);
}
.zoom-in:hover,
.zoom-out:hover {
  background-color: #916f4d;
}
.prev-page,
.next-page {
  font-size: 2rem;
  position: relative;
  background-color: #d4a373;
  border: none;
  text-transform: capitalize;
  margin: 0rem 0.5vw;
  letter-spacing: 1px;
  border-radius: 0.3rem;
  padding: 0.5vh 2vh;
  color: black;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 8px -3px rgb(0 0 0 / 25%);
}

.prev-page:hover,
.next-page:hover {
  background: #916f4d;
  font-weight: 200;

  color: white;
  transform: scale(1.09);
  transition: 1s;
}
.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 90% !important;
  height: 100% !important;
}
